@font-face {
    font-family: 'coolveticaregular';
    src: url('fonts/coolvetica_rg-webfont.eot');
    src: url('fonts/coolvetica_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/coolvetica_rg-webfont.woff2') format('woff2'),
         url('fonts/coolvetica_rg-webfont.woff') format('woff'),
         url('fonts/coolvetica_rg-webfont.ttf') format('truetype'),
         url('fonts/coolvetica_rg-webfont.svg#coolveticaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*Mise en page générale du site (Header etc) */
html {
    height: 100%;
}

body {
    margin-right: 2%;
    margin-left: 2%;
    color: #343A40;
    background-color: rgb(232, 250, 247);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-family: 'coolveticaregular';
    font-size: 3em;
    letter-spacing: 0.05em;
}
@media screen and (max-width: 768px) {
    h1 {
      font-size: 2em;
    }
  }

header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
}


nav 
{
    /* border: 2px solid green; */
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'coolveticaregular';
    font-size: 1.3em;
}

nav ul {
    width: 100%;
    height: 75%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@media screen and (max-width: 768px) {
    nav ul {
      flex-direction: column;
      justify-content: space-between;
      font-size: 0.8em;
    }
  }

li {
    list-style-type: none;
}

header a {
    text-decoration: none;
    color: #343A40;
}

h2 {
    font-family: 'coolveticaregular';
    font-size: 2em;
    letter-spacing: 0.07em;
}

h3 {
    font-family: 'coolveticaregular';
    font-size: 2em;
    letter-spacing: 0.07em;
}

p {
    font-family: sans-serif;
    font-size: 1em;
}

footer {
    width: 100%;
    border-top: 2px dotted #343A40 ;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: #343A40;
    font-family: sans-serif;
}

.errorMessage {
    font-family: 'coolveticaregular';
    font-size: 1.5em;
    letter-spacing: 0.07em;
    color: rgb(231, 18, 18);
    text-align: center;
}


/*Mise en page du body de l'index*/

#productGrid {
    height: 100%;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 2vw;
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
}
#productGrid a {
    text-decoration: none;
    color: #343A40;
}
@media screen and (max-width: 768px) {
    #productGrid {
      flex-direction: column;
    }
  }

.products {
    /* border: 2px solid blue; */
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    width: 40%;
    margin: auto;
    margin-bottom: 2.5vw;
    text-align: justify;
    cursor: pointer;
    transition: all 0.4s ease;
    background-color: rgb(248, 248, 248);
}

.products:hover {
    transform: scale(1.04);
}

.productsText {
    padding-left: 5%;
    padding-right: 5%;
}

@media screen and (max-width: 768px) {
    .products {
      width: 75%;
    }
}

.products img {
    width: 100%;
}
/*Mise en page de la page products */
#productTemplate {
    width: 100%;
    margin-top: 3vw;
    margin-bottom: auto;
    padding-top: 1vw;
    padding-bottom: 1vw;
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}


#price {
    font-weight: bold;
}

#imageContainer {
    width: 45%;
}

#image {
    width: 100%;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

#specification {
    background-color: rgb(248, 248, 248);
    border: 2px dotted rgb(161, 161, 161);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin-left: 1%;
    width: 50%;
    height: 100%;
}
@media screen and (max-width: 768px) {
    #productTemplate {
      flex-direction: column;
      justify-content: space-between;
      align-content: center;
    }
    #imageContainer {
        width: 90%;
    }
    #specification {
        width: 90%;
    }
}

#price {
    font-size: 1.5em;
}

#description {
    width: 80%;
    text-align: justify;
}

#description span {
    font-weight: bold;
}

#personalisation {
    width: 40%;
    margin-bottom: 8%;
}

#personalisationName {
    font-weight: bold;
}

#addToCart {
    width: 30%;
    margin-top: 2%;
    margin-bottom: 2%;
}

/*Mise en page de la page panier */
#cartSection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#cartContainer {
    border: 2px dotted grey;
    border-radius: 5px;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#emptyCart {
    font-family: 'coolveticaregular';
    font-size: 2em;
    letter-spacing: 0.07em;
}

.cartItems {
    background-color: rgb(248, 248, 248);
    width: 98%;
    border: 2px dotted rgb(161, 161, 161);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    padding-bottom: 0.5vw;
    padding-top: 0.5vw;
}

.cartNames {
    font-size: 1.5em;
}

@media screen and (max-width: 768px) {
    .cartNames {
        font-size: 1em;
    }
    .cartItems p {
        font-size: 0.75em;
    }
}

.cartPrices {
    font-weight: bold;
    color: #343A40;
}

.cartQty {
 font-weight: bold;
 color: tomato;
 font-size: 1.5em;
}

.cartTotalPrices {
    font-weight: bold;
    color:rgb(0, 139, 70);
}

#buttonPrix {
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}
@media screen and (max-width: 768px) {
    #buttonPrix {
        margin-top: 5%;
        margin-bottom: 5%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }
}

#emptyCartButton {
    width: 15%;
}
@media screen and (max-width: 768px) {
    #emptyCartButton {
        width: 35%;
    }
}
#totalOrder {
    font-family: sans-serif;
    font-weight: bold;
    color: teal;
}
.cartImages {
    width: 10vw;
    border-radius: 3px;
    box-shadow:grey 1px 1px 8px 1px;
}

#formSection {
    display: flex;
    justify-content: center;
}

#form {
    border: 2px dotted rgb(161, 161, 161);
    border-radius: 5px;
    padding: 2%;
    font-family: sans-serif;
    line-height: 1.5em;
}


/*Mise en page de la page confirmation */

#orderConfirmation {
    min-height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#numeroCommande {
    font-weight: bold;
}

#prixCommande {
    text-decoration: underline;
}