@font-face {
    font-family: 'coolveticaregular';
    src: url('fonts/coolvetica_rg-webfont.eot');
    src: url('fonts/coolvetica_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/coolvetica_rg-webfont.woff2') format('woff2'),
         url('fonts/coolvetica_rg-webfont.woff') format('woff'),
         url('fonts/coolvetica_rg-webfont.ttf') format('truetype'),
         url('fonts/coolvetica_rg-webfont.svg#coolveticaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*Mise en page générale du site (Header etc) */
body {
    margin-right: 2%;
    margin-left: 2%;
    color: #343A40;
    background-color: rgb(232, 250, 247);
}

h1 {
    font-family: 'coolveticaregular';
    font-size: 3em;
    letter-spacing: 0.05em;
}

header {
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
}

nav 
{
    /* border: 2px solid green; */
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: 'coolveticaregular';
    font-size: 1.3em;
}

nav ul {
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
}

li {
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: #343A40;
}

h3 {
    font-family: 'coolveticaregular';
    font-size: 2em;
    letter-spacing: 0.07em;
}

p {
    font-family: sans-serif;
    font-size: 1em;
}

footer {
    border-top: 2px dotted #343A40 ;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: #343A40;
    font-family: sans-serif;
}


/*Mise en page du body de l'index*/

#product-grid {
    height: 100%;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 2vw;
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
}
#product-grid a {
    text-decoration: none;
    color: #343A40;
}
@media screen and (max-width: 768px) {
    #product-grid {
      flex-direction: column;
    }
  }

.products {
    /* border: 2px solid blue; */
    border-radius: 3px;
    box-shadow: 5px 3px 10px rgb(100, 97, 92);
    width: 40%;
    margin: auto;
    margin-bottom: 2vw;
    text-align: justify;
    cursor: pointer;
    transition: all 0.4s ease;
    background-color: rgb(248, 248, 248);
}

.products:hover {
    transform: scale(1.04);
}

.products-text {
    padding-left: 5%;
    padding-right: 5%;
}

@media screen and (max-width: 768px) {
    .products {
      width: 75%;
    }
  }

img {
    width: 100%;
}
/*Mise en page de la page products */
#product-template {
    margin-top: 3vw;
    margin-bottom: auto;
    padding-top: 1vw;
    padding-left: 1vw;
    padding-bottom: 1vw;
    padding-right: 1vw;
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-around;
}

#price {
    font-weight: bold;
}

#image {
    width: 50%;
    border-radius: 3px;
    box-shadow: grey 3px 3px 8px 3px;
    margin-right: 1%;
}

#specification {
    background-color: rgb(248, 248, 248);
    border: 2px dotted rgb(161, 161, 161);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin-left: 1%;
}

#description {
    width: 80%;
    text-align: justify;
}

#description span {
    font-weight: bold;
}

#personalisation {
    width: 40%;
}

#personalisation-name {
    font-weight: bold;
}

button {
    width: 30%;
    margin-top: 2%;
    margin-bottom: 2%;
}

/*Mise en page de la page panier */
#cartContainer {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-items {
    background-color: rgb(248, 248, 248);
    width: 98%;
    border: 2px dotted rgb(161, 161, 161);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    padding-bottom: 0.5vw;
    padding-top: 0.5vw;
}

.cart-images {
    width: 10vw;
    border-radius: 3px;
    box-shadow:grey 1px 1px 8px 1px;
}

#formsection {
    display: flex;
    justify-content: center;
}