body {
    margin-right: 2%;
    margin-left: 2%;
}

header {
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
}

nav 
{
    /* border: 2px solid green; */
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

ul {
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
}

li {
    list-style-type: none;
}

#product-grid {
    height: 100%;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 2vw;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
    #product-grid {
      flex-direction: column;
    }
  }

.products {
    border: 2px solid blue;
    width: 40%;
    margin: auto;
    margin-bottom: 2vw;
    text-align: justify;
}
@media screen and (max-width: 768px) {
    .products {
      width: 75%;
    }
  }



img {
    width: 100%;
}

#product-template {
    margin-top: 3vw;
    margin-bottom: auto;
    padding-top: 1vw;
    padding-left: 1vw;
    padding-bottom: 1vw;
    padding-right: 1vw;
    border: 2px solid green;
    display: flex;
    justify-content: space-around;

}

#image {
    width: 50%;
    border-radius: 3px;
    box-shadow: grey 3px 3px 8px 3px;
}

#specification {
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;

}